.technologes {
  display: grid;
  row-gap: 7rem;
  column-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  padding-top: 8rem;
  margin: 0px auto;
  max-width: 70vw;
  width: 100%;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 0;
  }
}

.content {
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
  padding: 2rem;
  // // align-self: center;
  // display: grid;
  // grid-template-rows: auto;

  &__text {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 2.4rem;
    @media screen and (max-width: 768px) {
      background-color: hsla(0, 0%, 100%, 0.18);
      padding: 2rem;
      border-radius: 0.7rem 0.7rem 0 0;
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    font-size: 2.6rem;
    @media screen and (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }
}

.gallery {
  @media screen and (max-width: 1200px) {
    margin-bottom: 4rem;
  }
  background-color: #ffffff2f;
  align-self: center;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 4vw);

  &__item {
    &--1 {
      grid-row: 2/4;
      grid-column: 2/4;
    }
    &--2 {
      grid-row: 2/4;
      grid-column: 4/5;
    }
    &--3 {
      grid-row: 3/4;
      grid-column: 1/2;
      margin-left: 2rem;
    }
    &--4 {
      grid-row: 1/1;
      grid-column: 1/3;
    }
    &--5 {
      grid-row: 1/2;
      grid-column: 3/5;
    }
    &--6 {
      grid-row: 4/5;
      grid-column: 3/5;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
