// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Secular One', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(145deg, #2a66c6 0%, #661b80 95%);
  width: 100vw;
    @media screen and (min-width: 768px) {
      height: 100vh;
    }

}
